<div id="MY-SLIDE-BAR">
			<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
		        <ol class="carousel-indicators">
		          <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
		          <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
		          <li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
		        </ol>
		        <div class="carousel-inner">
		          <div class="item slide-content">
		          	<div class="content-left"><a class="img-wrapper" href="#"><%= image_tag("l1.jpg")%></a></div>
		          	<div class="content-right">
		          	<a class="my-title" href="#"><h3><%= @post[0].title %></h3></a>
		          	<div class="my-vote">
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-2"></span>
		          		<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span>
		          	</div>
		          	<p><%= truncate(@post[0].content, length: 600, separator: ' ') %></p>
		            
		            <%=link_to '<button class="default-button" type="button" >Xem thêm</button>'.html_safe, @post[0] %>
		          	</div>
		          </div>
		          <div class="item slide-content">
		            <div class="content-left"><a class="img-wrapper" href="#"><%= image_tag("l2.jpg")%></a></div>
		          	<div class="content-right">
		          	<a class="my-title" href="#"><h3><%= @post[1].title %></h3></a>
		          	<div class="my-vote">
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-2"></span>
		          		<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span>
		          	</div>
		          	<p><%= truncate(@post[1].content, length: 600, separator: ' ') %></p>
		            
		            <%=link_to '<button class="default-button" type="button" >Xem thêm</button>'.html_safe, @post[1] %>
		          	</div>
		          </div>
		          <div class="item slide-content active">
		            <div class="content-left"><a class="img-wrapper" href="#"><%= image_tag("l4.jpg")%></a></div>
		          	<div class="content-right">
		          	<a class="my-title" href="#"><h3><%= @post[2].title %></h3></a>
		          	<div class="my-vote">
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-1"></span>
		          		<span class="glyphicon glyphicon-star star-2"></span>
		          		<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(4.3/5)</span></span>
		          	</div>
		          	<p><%= truncate(@post[2].content, length: 600, separator: ' ') %></p>
		            
		            <%=link_to '<button class="default-button" type="button" >Xem thêm</button>'.html_safe, @post[2] %>
		          	</div>
		          </div>
		        </div>
		        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
		          <span class="glyphicon glyphicon-chevron-left"></span>
		        </a>
		        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
		          <span class="glyphicon glyphicon-chevron-right"></span>
		        </a>
		    </div>
		</div>